[submodule "flanterm"]
	path = flanterm
	url = https://github.com/mintsuki/flanterm
	branch = trunk
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v9.x-binary
