[submodule "flanterm"]
	path = flanterm
	url = https://codeberg.org/Mintsuki/Flanterm.git
	branch = trunk
[submodule "limine"]
	path = limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v9.x-binary
